# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# OS or Editor folders
.tmp
.DS_Store
.idea
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject

# Sublime
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
node_modules
bower_components
dist/build.txt

# Just for this project - prevent mistakes
*.sql
