// List Icons
// -------------------------


$fa-css-prefix:       files !default;
$fa-li-width:         (30em / 14) !default;
$files-row-height:    24px;

// the list itself
.#{$fa-css-prefix}-ul {
  padding-left: 0;
  margin-left: $fa-li-width;
  list-style-type: none;
  > li { position: relative; }
}

.#{$fa-css-prefix}-ul .#{$fa-css-prefix}-ul {
  margin-top: 0.5em;
  margin-left: $fa-li-width / 2;
}

// list icon
// .#{$fa-css-prefix}-li {
//   position: absolute;
//   left: -$fa-li-width;
//   width: $fa-li-width;
//   top: (2em / 14);
//   text-align: center;
//   &.#{$fa-css-prefix}-lg {
//     left: -$fa-li-width + (4em / 14);
//   }
// }

// .files {
//   ul {
//     padding-left: 0;
//     margin-left: $fa-li-width;
//     list-style-type: none;

//     > li {
//       position: relative;

//       i {
//         position: absolute;
//         left: -$fa-li-width;
//         width: $fa-li-width;
//         top: (2em / 14);
//         text-align: center;
//         &.#{$fa-css-prefix}-lg {
//           left: -$fa-li-width + (4em / 14);
//         }
//       }
//     }


//   }
// }

// base jstree
.jstree-node, .jstree-children, .jstree-container-ul { display:block; margin:0; padding:0; list-style-type:none; list-style-image:none; }
.jstree-node { white-space:nowrap; }
.jstree-anchor { display:inline-block; color:black; white-space:nowrap; padding:0 4px 0 1px; margin:0; vertical-align:top; }
.jstree-anchor:focus { outline:0; }
.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active { text-decoration:none; color:inherit; }
.jstree-icon { display:inline-block; text-decoration:none; margin:0; padding:0; vertical-align:top; text-align:center; }
.jstree-icon:empty { display:inline-block; text-decoration:none; margin:0; padding:0; vertical-align:top; text-align:center; }
.jstree-ocl { cursor:pointer; }
.jstree-leaf > .jstree-ocl { cursor:default; }
.jstree .jstree-open > .jstree-children { display:block; }
.jstree .jstree-closed > .jstree-children, .jstree .jstree-leaf > .jstree-children { display:none; }
.jstree-anchor > .jstree-themeicon { margin-right:2px; }
.jstree-no-icons .jstree-themeicon,
.jstree-anchor > .jstree-themeicon-hidden { display:none; }
.jstree-hidden { display:none; }

// base jstree wholerow
.jstree-wholerow-ul {
  position:relative;
  display:inline-block;
  min-width:100%;
  .jstree-leaf > .jstree-ocl { cursor:pointer; }
  .jstree-anchor, .jstree-icon { position:relative; }
  .jstree-wholerow { width:100%; cursor:pointer; position:absolute; left:0; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
}

.files {
  ul {
    position:relative;
    display:inline-block;
    padding-left:0;
    min-width:100%;
  }

  li.node {
    display:block;
    margin:0;
    padding:0;
    list-style-type:none;
    list-style-image:none;
    white-space:nowrap;

    .wholerow {
      width:100%;
      cursor:pointer;
      position:absolute;
      left:0;
      height: $files-row-height;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;

      &.current {
        background: #eef2f3;
        background: -webkit-linear-gradient(top,#eef2f3 0,#8e9eab 100%);
        background: linear-gradient(to bottom,#eef2f3 0,#8e9eab 100%)
      }
    }

    a {
      display:inline-block;
      color:black;
      white-space:nowrap;
      padding:0 4px 0 1px;
      margin:0;
      vertical-align:top;
      position:relative;

      &:focus {
        outline:0;
      }
      &:hover, &:visited, &:active, &:link {
        text-decoration:none;
        color:inherit;
      }
    }

    i {
      display:inline-block;
      text-decoration:none;
      margin:0;
      padding:0;
      vertical-align: text-bottom;
      text-align:center;
      :empty { display:inline-block; text-decoration:none; margin:0; padding:0; vertical-align:top; text-align:center; }
    }
  }
}