// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13u0u0kqpBpg5MVlwGpzhxMzuos */

// Feel free to copy&paste color codes to your application */

$color-primary-0: #71B0D6;	// Main Primary color */
$color-primary-1: #D2EAF9;
$color-primary-2: #9DCEEA;
$color-primary-3: #4C93BE;
$color-primary-4: #2E76A1;

$navbar-height: 54px;

.main-content {
	padding-top: $navbar-height;
	.is-iframe & {margin-top:0}
}

body {background: $color-primary-2;}
h1, h2, h3, h4, h5 {font-weight: 300}

.table {
    background: $color-primary-1;
    tbody td, thead th, {
        border-bottom-color: $color-primary-2;
        border-top-color: $color-primary-2;
    }
}

// utility
.centrify {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height: 100%;
}


.info-box {
	display: none;
	position: absolute;
	border-color: #818A91;
	padding-left: 10px; // using margin here does not allow hover to continue into the info-box
	z-index: 5;
}

*:hover + .info-box, .info-box:hover {
	display: inline-block;
}

.pool {
	padding-bottom: 9em;
}

#messages .card {
	overflow-y: auto;
}

.history-button-group {
	position: relative;
	display: inline-block;
    vertical-align: top;
    left: 15px;
    top: 24px;
}

.btn-group > .dropdown-component {
    display: inline-block;

    &:not(:last-child) > .btn:first-child {
        border-top-right-radius: 0;
        border-left-right-radius: 0;
    }

    &:not(:first-child) > .btn:first-child {
        margin-left:-1px;
        border-top-left-radius: 0;
        border-left-left-radius: 0;
    }
}

.c-inputs-stacked.fixed {margin-bottom: -1.5em}
.checkbox-input-group {padding: .375rem .75rem}

// used within the validator
.stringified {
	.pre {text-decoration: none;white-space: pre;}
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }

	.editor { position: absolute;top: 0;right: 0;bottom: 0;left: 0; height:300px; font-size: 18px;}
}

@import "./navbar";
@import "./loader";
@import "./context";
@import "./files";
@import "./backdrop";
@import "./study";
@import "./pool";
@import "./login";
@import "./dateRange";
@import "./upload";
