$navbar-height:    58px;

body {overflow:hidden;}

.stringified {
	.pre {text-decoration: none;white-space: pre;}
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }

	.editor { position: absolute;top: 0;right: 0;bottom: 0;left: 0; height:300px; font-size: 18px;}
}

.study {
	.col-md-10, .col-md-2 {
		padding-left: 0;
		padding-right: 0;
	}

	.editor {
	  .btn-toolbar {
	    margin-bottom: 10px;
	  }
	}

	.sidebar {
		position: fixed;
		width: inherit;
		overflow-y: auto;
		top: $navbar-height;
		bottom: 0;


		h5, .btn-group {
			margin: 10px;
		}
	}
}

.centrify {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height: 100%;
}

.info-box {
	display: none;
	border-color: #818A91;
}

*:hover + .info-box {
	position: absolute;
	display: inline-block;
	margin-left: 10px;
}

.tab-content {
  margin-top: 10px;
}

.navbar {
  background: #2882b5
}

@import "./loader";
@import "./context";
@import "./files";
@import "./messages";