body {overflow:hidden}

.stringified {
	.pre {text-decoration: none;white-space: pre;}
	.string { color: green; }
	.number { color: darkorange; }
	.boolean { color: blue; }
	.null { color: magenta; }
	.key { color: red; }

	.editor { position: absolute;top: 0;right: 0;bottom: 0;left: 0; height:300px; font-size: 18px;}
}

.editor {
  .btn-toolbar {
    margin-bottom: 10px;
  }
}

.editor-sidebar {
	.btn-group {
		margin: 10px 0;
	}
}

.centrify {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	height: 100%;
}

.tab-content {
  margin-top: 10px;
}

.navbar {
  background: #2882b5
}

@import "./loader";
@import "./context";
@import "./files";